<div class="q-item-container">
  <h3 class="s-q-item__title">{{title}}</h3>
  {{#each positions as position}}
    {{#if (data[position.name].parties.length > 0 && data[position.name].parties[0].length > 0) || (data[position.name].organisations.length > 0 && data[position.name].organisations[0].length > 0)}}
      <div class="q-party-slogans-position">
        <div class="s-font-note-s s-font-note-s--strong ${position.labelColorClass} q-party-slogans-label--level1">{{position.label.toUpperCase()}}</div>

        {{#if data[position.name].parties.length > 0 && data[position.name].parties[0].length > 0}}
          <div class="q-party-slogans-voices">
            <div class="s-font-note-s q-party-slogans-label--level2">Parteien</div>
            <div class="s-font-text q-party-slogans-voices-container">
              {{#each data[position.name].parties as party}}
                {{#if party.length > 0}}
                  <span class="{{position.voiceColorClass}} q-party-slogans-voice"><span class="s-font-text">{{party}}</span></span>
                {{/if}}
              {{/each}}
            </div>
          </div>
        {{/if}}

        {{#if data[position.name].organisations.length > 0 && data[position.name].organisations[0].length > 0}}
          <div class="q-party-slogans-voices">
            <div class="s-font-note-s q-party-slogans-label--level2">Organisationen und Verbände</div>
            <div class="s-font-text q-party-slogans-voices-container">
              {{#each data[position.name].organisations as organisation}}
                {{#if organisation.length > 0}}
                  <span class="{{position.voiceColorClass}} q-party-slogans-voice"><span class="s-font-text">{{organisation}}</span></span>
                {{/if}}
              {{/each}}
            </div>
          </div>
        {{/if}}

      </div>
    {{/if}}
  {{/each}}
</div>

<script>
  const positions = [
    {
      name: 'yes',
      label: 'Ja',
      labelColorClass: 's-viz-color-diverging-6-6',
      voiceColorClass: 's-viz-color-diverging-6-4'
    },
    {
      name: 'no',
      label: 'Nein',
      labelColorClass: 's-viz-color-diverging-6-1',
      voiceColorClass: 's-viz-color-diverging-6-3'
    },
    {
      name: 'undecided',
      label: 'Stimmfreigabe',
      labelColorClass: 's-color-gray-10',
      voiceColorClass: 's-color-gray-4'
    }
  ]

  export default {
    data: () => {
      return {
        positions: positions
      }
    }
  };
</script>
