
@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// #nzz-parolenspiegel {

.q-party-parole-item {

  @clearfix();

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }

  margin: 20px 0px;

  .q-party-parole__position {

    .q-party-parole {
      &__label {
        &--level1 {
          text-transform: uppercase;
          border-style: solid;
          border-width: 0px 0px 1px 0px;
          margin-top: 18px;
        }
        &--level2 {
          margin-top: 10px;
        }
      }
      &__parties,&__organisations {
        .s-font-note-s {
          color:#0a0a0a;
          margin:7px 0px 3px;
        }
      }
      // &__organisations {
      //   margin:10px 0px 3px;
      // }
      &__party, &__org {
        border-radius: 3px;
        display:inline-block;
        padding: 0px 2px;
      }
    }

    &--yes {
      .s-font-note-s {
        color:#0084c7;
        border-color:#c0d4ed;
      }
      .q-party-parole__party, .q-party-parole__org {
        background-color: #c0d4ed;
      }
    }

    &--no {
      .s-font-note-s {
        color:#c31906;
        border-color:#f9b9a8;
      }
      .q-party-parole__party, .q-party-parole__org {
        background-color: #f9b9a8;
      }
    }

    &--undecided {
      .s-font-note-s {
        color:#5c5c5c;
        border-color:#d6d6d6;
      }
      .q-party-parole__party, .q-party-parole__org {
        background-color: #d6d6d6;
      }
    }

  }

  // .q-party-parole__footnote {
  //   border-top: 1px solid #d6d6d6;
  //   color: #5c5c5c;
  //   margin-top:10px;
  //   padding: 4px 0px;
  // }
}
