
@import "storytelling-ui-kit/clearfix";

.q-party-parole-item {

  padding: 20px 0px;
  @clearfix();

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

.q-party-parole-position {
  margin: 0px 0px 12px;
}


.q-party-parole-label {

  &--level1 {
    text-transform: uppercase;
    border: 0px solid currentColor;
    border-bottom-width: 1px;
    margin:18px 0px 3px;
  }

  &--level2 {
    margin:6px 0px 3px;
  }

}

.q-party-parole-voice {
  border-radius: 3px;
  display:inline-block;
  padding: 0px 2px;
  background-color: currentColor;
}
